@model _6tactics.Cms.Core.ViewModels.Admin.AdminActionsViewModel

@{ ViewBag.Title = "Admin / Priorities"; }

@Html.Partial("Admin/_CurrentLocation", Model)

@using (Html.BeginForm("Priorities", "Admin", FormMethod.Post, new { @id = "prioritiesForm" }))
{
    @Html.Partial("Admin/_AdminMenu", Model.ContentItemModel)

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="height-offset-40px"></div>

    <div id="content-items-list" class="tree">
        <div id="content-items-list-wrapper" class="scrollbar-outer">
            @Html.Partial("Admin/_TreeView", Model.ContentItemModel)
        </div>
    </div>

    <div id="content-item-preview">
        <div id="content-item-preview-wrapper" class="scrollbar-outer">
            @Html.Partial("Admin/_ElementsCount", Model.StatisticsViewModel)
        </div>
    </div>
}

@*@Html.Partial("Admin/_TreeViewResponsive")*@