@using _6tactics.Cms.Core.Enums.Admin
@using _6tactics.Cms.Web.Helpers
@using _6tactics.Utilities.Common
@model _6tactics.Cms.Core.ViewModels.Common.ContentItemViewModel

<div class="title-summary-content-image-bottom">
    <div class="element-title">@Model.Title</div>
    <div class="element-summary">
        @Html.Raw(Model.Summary)
    </div>
    <div class="element-content">
        @Html.Raw(Model.Content)
    </div>

    @Html.Partial("DisplayTypes/_ReadMore", Model)

    @{var fileUrlHelper = new FileUrlHelper(Model.FileUrl);}
    @if (fileUrlHelper.IsUrlValid && CheckFileType.IsFileImage(Model.FileUrl))
    {
        <div class="image-wrapper"><img src="@Url.Action("GetFile", "Web", new { folderPath = fileUrlHelper.RouteFolderPath, filename = fileUrlHelper.Filename, extensionName = fileUrlHelper.ExtensionName})" alt="@Model.Title"></div>
    }
</div>



