@model _6tactics.Cms.Web.Areas.Plugins.Models.GoogleAnalytics.GoogleAnalyticsSetup

<div id="action-form">
    <div id="action-form-wrapper" class="pull-left plugin-content-wrapper">

        @using (Ajax.BeginForm("Setup", "GoogleAnalytics",
            new AjaxOptions
            {
                HttpMethod = "POST",
                OnBegin = "loadingStart",
                OnComplete = "onFormCompleteCallback"
            }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <table class="table">
                <tr>
                    <th>Include</th>
                    <th>Tracking Id</th>
                </tr>
                <tr>
                    <td>
                        @Html.CheckBoxFor(model => model.IsIncluded, new {@class = "form-control"})
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.TrackingId, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.TrackingId)
                    </td>
                </tr>
            </table>

            <input type="submit" value="Save" class="pull-right btn btn-danger popup-submit-btn"/>
        }
    </div>
</div>


<p>If you don't have <b>Google Analytics</b> registered for your website go <a href="https://www.google.com/analytics/standard/" target="_blank" style="color: red"><b>here</b></a>!</p>

<div id="popup" class="popup popup-success mfp-hide">
    <div class="popup-content">
        Data successfully saved!
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.addValidation('form');
    });

    function onFormCompleteCallback() {
        loadingStop();

        $.magnificPopup.open({
            items: {
                src: $('#popup'),
                type: 'inline'
            }
        });
    }
</script>
